

  <div class="col-md-12">
    <span><a  class="btn btn-primary">Documents</a></span>  
    <div class="table-responsive">
    <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
    <thead>
        <th>Document Name</th>
        <th>Document Type</th>
        <th>Document Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let document of documents">
          <ng-container *ngIf="!isEditMode1; else editMode">
            <td>{{ document.name }}</td>
            <td>{{ document.type }}</td>
            <td>{{ document.description }}</td>
            <td><button  class="btn btn-primary" (click)="enableEditMode1()">Edit</button></td>
        <td><a class="btn btn-danger" (click)="deleteDocument(document.id)" >Delete</a></td>  
          </ng-container>
          <ng-template #editMode>
            <td><input [(ngModel)]="document.name" /></td>
            <select id="type" [(ngModel)]="document.type" name="type" required>
                <option value="PDF">PDF</option>
                <option value="TXT">TXT</option>
                <option value="XDOC">XDOC</option>
              </select>            <td><input [(ngModel)]="document.description" /></td>
            <td> <i  type="button" class="fa fa-check " style="color: green;" (click)="updateDocument(document)"></i>
                <i   type="button"class="fa fa-times" style="color: red;" (click)="cancelEditMode1()"></i></td>
            <td><a class="btn btn-danger" (click)="deleteDocument(document.id)" >Delete</a></td>  

          </ng-template>
        </tr>
      </tbody>
    </table>
    </div>
</div>
<form (ngSubmit)="createDocument()">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="newDocument.name" name="name" required>
  
    <label for="type">Type:</label>
    <select id="type" [(ngModel)]="newDocument.type" name="type" required>
      <option value="PDF">PDF</option>
      <option value="TXT">TXT</option>
      <option value="XDOC">XDOC</option>
    </select>
  
    <label for="description">Description:</label>
    <input id="description" [(ngModel)]="newDocument.description" name="description">
  <span><br></span>
    <button class="btn btn-primary" type="submit">  Create Document</button>
  </form>
